*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

button{
  padding: 10px 20px;
  color: #fff;
  background: linear-gradient(to top right, rgb(71, 71, 156, .8) , rgb(26, 83, 190));
  border: none;
  border-radius: 8px;
  transition: .5s;
}

button:hover{
  background: #000;
}
